/*====================================================
------------------- Tab Default ----------------------
=====================================================*/

.mran-tab-template{
    &.mran-tab-template-1{
        .mran-tab-title{
            color:$white_color;
            background:#16a085;
            &.current, &:hover{
                background:#09a06c;
            }
        }
        .mran-tab-content{
        	background: #1abc9c;
        	color:#fff;
        }
    }
}
